
body {
  font-family: 'Rubik', 'Roboto';
  margin: 0;
  background: #F5F6FA;
}

h1, 
h2
{
  font-family: 'Rubik', 'Roboto';
  font-weight: bold;
  /* font-style: italic; */
}

h1 {
  font-size: 32px;
  line-height: 1;  
  font-weight: bold;
}

h1 strong {  
  font-size: 70px;
}

h2 strong {  
  font-size: 48px;
  font-weight: bold;
}

.gaming {
  height: 800px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gaming div div {  
  margin-left: 150px;
  width: 345px;
}

.gaming div div p{
  font-size: 18px;
}

.gaming-image{
  object-fit: cover;
  margin-right: 50px;
}

.button-purple {
  background-color: #4857EC;
  color: white;
  width: 145px;
  height: 35px;
  border-radius: 3px;
  border: none;  
}

.header {  
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;  
}

.header div div {
  margin-left: 150px;  
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 20px;  
  text-decoration: none;
}

.header ol {
  display: flex;
  height: inherit;
}


.contact-url {
  background-color: #4857EC;
  border-radius: 3px;
  padding: 10px 20px;
  color: white;  
}

.container {
  /* border: 1px solid red; */
  width: 1250px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;  
}

.partners div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;  
}

.partners div img {
  width: 100px;
  height: 30px;
}

.features {
  display: flex;
}

.features1 {  
  width: 300px;
  height: 250px;
  margin-left: 148px;
  margin-top: 89px;
  margin-right: 172px;
}

.features2 {  
  width: 352px;
  height: 345px;
  margin-right: 214px;
  margin-top: 89px;
  margin-bottom: 90px;
}

.container-features2 {  
  display: grid;
  grid-template-columns: 50% 50%;
}

.icons-features {
  width: 50px;
  height: 50px;
}

.portfolio-button {
  text-align: center;
}

.portfolio-images {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  justify-items: center;
}

.portfolio-images img {
  width: 250px;
  height: 300px;      
}

.testimonial-section {
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 3em;
  /* grid-auto-rows: minmax(auto, auto); */
}

.testimonial-section > div {
  background: white;
}

.card-testimonial{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 5px;
  align-items: start;
}

.card-testimonial-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;  
}

.card-testimonial-img {
  justify-self: center;  
}
.card-testimonial-comment p{
  font-size: 12px;
}

.card-testimonial-start {
  justify-self: end;  
}
.link-view-all {
  text-align: center;
  margin: 30px 0;
}

.link-view-all a{
  text-decoration: none;
}

.team-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-items: center;
}
.team-images div img {
  width: 300px;
  height: 370px;
}
.team-images div h3, h6 {
  text-align: center;
}

.footer-elements {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.element1 {
  grid-column: 1/3;
  font-size: 20px;
  font-weight: bold;
  /* margin-left: 35px; */
}

/* .social {
  border: 1px solid green;
  width: auto;
  height: 100px;
} */

.social-link {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  /* margin-left: 35px; */
  background-size: 18px 18px;
}

.social-link.ball {
  background-image: url('../images/icon-ball.png');
}
.social-link.facebook {
  background-image: url('../images/icon-facebook.png');
}
.social-link.twitter {
  background-image: url('../images/icon-twitter.png');
}
.social-link.youtube {
  background-image: url('../images/icon-youtube.png');
}

.pricing-titles {
  text-align: center;
}

.bill {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 35px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  background-color: #2FEFB1;
  transition: .4s;
  border-radius: 34px;
}

.switch input {display: none;}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: #4857EC;
}

input:checked + .slider:before {
  transform: translateX(35px);
}

.checkbox-group {
  display: grid;
}

.checkbox-group > label {
  font-size: 12px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;   
  padding: 20px;
  justify-items: center;
}

.plans > div {
  background: white;
  margin: 0 auto;
  width: 200px;
  padding: 15px;
}
